@media only screen and (max-height: 1279px) {
  main {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1605px) {
  body {
    font-size: 16px;
  }

  .header {
    margin: 0 50px;
  }

  .main {
    margin: 0 100px;
  }

  .menu-header {
    width: 75%;
  }

  .content-left {
    flex: 0.5;
  }

  .content-right {
    justify-content: flex-end;
  }

  .flow-content .item .content-hover {
    top: 60px;
    padding: 34px 40px 0;
  }

  .flow-content .item:hover .content-hover {
    height: calc(100% + 72px);
  }

  .flow-content .cash-crop {
    flex: 0.43;
  }

  .flow-content .solution {
    flex: 0.3;
  }

  footer .container {
    margin: 0 100px;
  }

  .footer-center .breadcrumbs .wait {
    left: 28%;
  }

  .footer-center .breadcrumbs .earn {
    right: -16%;
  }

  .footer-center .breadcrumbs .join>.link,
  .footer-center .breadcrumbs .earn>.link {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1445px) {
  .btn {
    font-size: 18px;
    padding: 14px 28px;
  }

  .header {
    margin: 0 20px;
  }

  .main {
    margin: 0 60px;
  }

  .btn-header .white-btn,
  .btn-header .dark-btn {
    width: 140px;
    padding: 12px 30px;
  }

  .pre-content {
    padding-top: 50px;
  }

  .content-left .text {
    padding: 25px 0 40px 0;
  }

  .content-right .banner-img {
    width: 95%;
  }

  .flow-content {
    padding: 25px 0;
  }

  .flow-content .item .content-hover {
    padding: 25px 40px 0;
  }

  .flow-content .cash-crop .cash-icon {
    margin-left: 30px;
  }

  footer .container {
    margin: 0 40px;
  }

  .footer-center .breadcrumbs>li {
    width: 145px;
    height: 55px;
    line-height: 55px;
  }

  .footer-center .breadcrumbs .wait {
    left: 30%;
  }

  .footer-center .breadcrumbs .earn {
    right: -10%;
  }

  .footer-center .breadcrumbs .join>.link,
  .footer-center .breadcrumbs .earn>.link {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1285px) {
  .wrapper {
    padding: 50px 0 70px;
  }

  .main {
    margin: 0 20px;
  }

  .btn-header .dark-btn {
    padding: 14px 50px;
  }

  .menu-header .nav-link {
    font-size: 18px;
  }

  .content-left .text-pre {
    font-size: 62px;
  }

  .flow-content .item {
    padding: 10px;
  }

  .flow-content .item .content-hover {
    padding: 20px 25px 0;
  }

  .flow-content .cash-crop .cash-icon {
    margin-left: 0;
  }

  .flow-content .solution {
    flex: 0.32;
  }

  .flow-content .package {
    flex: 0.28;
  }

  .solution .text-block::after,
  .package .text-block::after {
    left: -26px;
  }

  footer .container {
    margin: 0 20px;
  }

  .footer-left .text {
    margin-left: 40px;
  }

  .footer-left .cert-icon::before {
    background-size: 50px;
    width: 50px;
    height: 50px;
    left: -25px;
  }

  .footer-center .breadcrumbs li {
    width: 138px;
    height: 50px;
    line-height: 50px;
  }

  .footer-center .breadcrumbs .earn {
    right: -14%;
  }
}


/* MOBILE MENU */
@media only screen and (max-width: 1028px) {
  .f-container {
    height: 100%;
  }

  .header,
  .main {
    margin: 0 40px;
  }

  .mobile-only {
    display: block;
  }

  .hidden {
    display: none;
  }

  header .menu-header {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .pre-content {
    flex-direction: column;
    align-items: center;
  }

  .content-left {
    width: 65%;
  }

  .content-left .text-pre {
    margin-bottom: 55px;
  }

  .content-left .btn-work {
    border: 2px solid;
    margin-top: 50px;
  }

  .content-right {
    width: 100%;
    margin: 100px auto 50px;
    justify-content: center;
  }

  .offer-content>.text {
    color: var(--white);
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
  }

  .flow-content {
    flex-direction: column;
    align-items: center;
    margin: 110px 0 60px;
  }

  .flow-content .item {
    width: 50%;
    margin: 10px auto;
    padding: 10px 20px;
  }

  .flow-content .item::before {
    display: none;
  }

  .flow-content .cash-crop .wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .flow-content .cash-crop .cash-icon {
    margin-top: 10px;
    margin-left: 60px;
  }

  .solution .text-block::after,
  .package .text-block::after {
    display: none;
  }

  .footer {
    border-radius: 15px 15px 0 0;
  }

  .footer-content {
    display: none;
  }

  footer .container {
    margin: 0 40px;
  }

  .flow-content .item .content-hover {
    padding: 0;
    position: initial;
  }

  .flow-content .item:hover .content-hover {
    padding: 20px 0;
  }

  .mobile-footer {
    display: flex;
  }

  .mobile-dots {
    display: block;
  }

  .copy-right {
    display: block;
  }

  .copy-right-text {
    color: var(--primary-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 770px) {
  .content-left {
    width: 100%;
  }

  .content-right .banner-img {
    width: 100%;
  }

  .slider-breadcrumbs .breadcrumbs li {
    border-radius: 34px;
    width: 154px;
    height: 57px;
    line-height: 57px;
    flex-shrink: 0;
    text-align: center;
  }

  .slider-breadcrumbs .breadcrumbs .wait {
    left: 33%;
  }

  .slider-breadcrumbs .breadcrumbs .earn {
    right: 7%;
  }

  .flow-content {
    margin-top: 160px;
  }

  .flow-content .item {
    width: 80%;
    margin: 10px 0;
  }

  .flow-content .item .content-hover {
    padding: 0;
  }

  .flow-content .item:hover .content-hover {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {

  .content-left {
    padding-bottom: 0;
  }

  .content-left .text-pre {
    width: 90%;
    font-size: 32px;
  }

  .slider-breadcrumbs .breadcrumbs .wait {
    left: 27%;
  }

  .slider-breadcrumbs .breadcrumbs .earn {
    right: -11%;
  }
}

@media only screen and (max-width: 420px) {
  body {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .main {
    margin: 0 25px;
  }

  .pre-content {
    padding-top: 0;
  }

  .flow-content {
    margin: 40px 0;
  }

  .flow-content .item {
    width: 100%;
    padding: 0;
  }

  .content-left .text-pre {
    width: 100%;
  }

  .flow-content .cash-crop .cash-icon {
    width: 25%;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .mobile-footer .img-brand>img {
    margin: 5px 0;
    width: 80%;
  }

  .slider-breadcrumbs .breadcrumbs {
    height: 60px;
  }

  .slider-breadcrumbs .breadcrumbs li {
    width: 104px;
    height: 38px;
    line-height: 38px;
  }

  .slider-breadcrumbs .breadcrumbs .wait {
    left: 24%;
  }

  .slider-breadcrumbs .breadcrumbs .earn {
    right: -16%;
  }

  /* Slick Slider dots mobile */
  .slick-dots li button {
    width: 10px;
    height: 10px;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .numbered-block .item .text-block::before {
    width: 33px;
    height: 33px;
    line-height: 33px;
  }

  .numbered-block .item .text-block {
    padding-left: 45px;
    margin: 10px 10px 10px 20px;
  }

  .footer .container {
    margin: 0 20px;
    padding: 10px 0 0;
  }

  .mobile-footer {
    margin-bottom: 10px;
  }

  .mobile-footer .btn-content .btn-contact {
    padding: 16px 30px;
  }

  .mobile-footer .img-brand {
    align-items: flex-start;
  }
}

/* END MOBILE MENU */