:root {
  --primary-color: #059033;
  --font-family: 'MPlus1', sans-serif;
  --white: #ffffff;
  --dark: #101010;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,
p {
  margin: 0;
}

ul {
  list-style: outside none none;
  padding: 0;
  margin: 0;
}

/* BUTTON STYLE */
.btn {
  background-color: var(--white);
  border-radius: 34px;
  border: 1px solid var(--white);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 40px;
}

/* END BUTTON STYLE */

.f-container {
  height: 100vh;
  /* for shorter content */
  display: flex;
  flex-direction: column;

  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-direction: column;
}

header,
footer {
  flex-basis: 50px;

  /*ie10*/
  -ms-flex-preferred-size: 50px;

  /*vertical*/
  -ms-flex-line-pack: distribute;
  /*or justify*/
}

footer {
  /*ie10 short content*/
  margin-top: auto;
}

header {
  margin: 0 90px 0 74px;
}

main {
  flex: 1;

  /*ie10*/
  -ms-flex: 1 1 auto;
  /*needs both shrink and grow*/
  margin: 0 150px;
}

/* fixed header and footer with scrollable main section */
.fixed-hf .main {
  overflow-y: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 60px 0;
}

.menu-header {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-content {
  display: flex;
}

.link-button {
  display: flex;
  justify-content: space-between;
  /* margin-left: 110px; */
}

.link-button>.menu-item>.nav-link {
  width: 180px;
}

.opensea,
.mcb {
  border: 1px solid var(--white);
  border-radius: 34px;
  font-weight: bold;
  display: block;
  width: 120px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}

.opensea {
  background-color: var(--white);
  color: var(--primary-color);
}

/* Menu Mobile */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon .menu-mobile-icon {
  width: 35px;
  height: 3px;
  background-color: var(--white);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  -ms-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  -ms-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  transform: scale(1);
  background-color: rgba(0, 0, 0, .7);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 200px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0);
}

.mobile-menu .menu-item {
  margin-bottom: 32px;
}

/* End Menu Mobile */

.menu-content .nav-link {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  margin: 20px;
}

.btn-header .white-btn {
  color: var(--primary-color);
  margin-right: 28px;
}

.btn-header .dark-btn {
  background-color: transparent;
  color: var(--white);
  padding: 18px 60px;
}

/* PRE-CONTENT */
.pre-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.content-left {
  width: 50%;
  padding: 100px 90px 20px 0;
}

.content-left .text-pre {
  font-family: 'Arsenal', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
}

.content-left .dot {
  color: var(--primary-color);
}

.mobile-dots {
  display: none;
}

.content-left .sub-text {
  background-color: var(--primary-color);
  padding: 0 12px;
}

.content-left .text {
  padding: 50px 0;
  margin-bottom: 16px;
}

.content-left .btn-work {
  background-color: transparent;
  padding: 16px 64px 18px;
  text-transform: uppercase;
  color: var(--white);
}

.content-right {
  width: 50%;
}

/* END PRE-CONTENT */

/* OFFER CONTENT */

.offer-content {
  width: 100%;
  height: 100px;
}

.slider-breadcrumbs {
  width: 100%;
  height: 100%;
}

.slider-breadcrumbs .breadcrumbs {
  height: 120px;
  position: relative;
}

/* END OFFER CONTENT */

/* FLOW-CONTENT */
.flow-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 90px 0 130px;
}

.flow-content .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  padding: 13px 20px;
}

.numbered-block {
  counter-reset: section-counter;
}

.numbered-block .item {
  position: relative;
  margin: 0 5px;
}

.numbered-block .item .text-block::before {
  counter-increment: section-counter;
  content: counter(section-counter);
  border-radius: 50%;
  background-color: var(--white);
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-weight: bold;
}

.numbered-block .item .text-block {
  padding-left: 60px;
  position: relative;
}

.numbered-block .item .text-block .text {
  font-weight: 500;
  margin-bottom: 10px;
}

.numbered-block .item .text-block .subtext {
  font-weight: 300;
}

.flow-content .item .content-hover {
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: 0;
  border-radius: 0 0 15px 15px;
  padding: 34px 20px 13px;
  transition: height 0.3s ease 0.3s, opacity 0.45s ease, visibility 0s linear 0.45s;
}

.flow-content .item:hover .content-hover {
  height: 145px;
  opacity: 1;
  visibility: visible;
}

.flow-content .cash-crop {
  background-color: #93CB56;
  flex: 0.4;
}

.flow-content .cash-crop .content-hover {
  background-color: #93CB56;
}

.flow-content .cash-crop .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flow-content .solution {
  background-color: #059033;
  flex: 0.35;
}

.flow-content .solution .content-hover {
  background-color: #059033;
}

.flow-content .package {
  background-color: #064D2F;
  flex: 0.25;
}

.flow-content .package .content-hover {
  background-color: #064D2F;
}


.solution .text-block::after,
.package .text-block::after {
  content: "";
  background-color: var(--white);
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--dark);
  border-radius: 50%;
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.flow-content .number {
  background-color: var(--white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.flow-content .number>span {
  color: var(--primary-color);
  font-weight: 700;
}

/* END FLOW-CONTENT */

/* FOOTER */
footer {
  background-color: var(--white);
}

footer .container {
  padding: 21px 0;
  margin: 0 150px;
}

.footer-content {
  display: flex;
}

.footer-content .item {
  width: 33.3333333%;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-left .text {
  color: var(--dark);
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 80px;
  position: relative;
}

.footer-left .text .link {
  font-weight: 700;
}

.footer-left .cert-icon::before {
  content: "";
  background: url('./img/icon/certificate-icon.png') no-repeat;
  width: 77px;
  height: 77px;
  position: absolute;
  left: -50px;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-center .breadcrumbs {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.slider-breadcrumbs .breadcrumbs li,
.footer-center .breadcrumbs li {
  border-radius: 34px;
  width: 174px;
  height: 64px;
  line-height: 64px;
  flex-shrink: 0;
  text-align: center;
}

.slider-breadcrumbs .breadcrumbs li {
  top: 20%;
}

.slider-breadcrumbs .breadcrumbs .wait,
.footer-center .breadcrumbs .wait {
  background-color: #93CB56;
  position: absolute;
  left: 25%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 300;
}

.slider-breadcrumbs .breadcrumbs .join,
.footer-center .breadcrumbs .join {
  background-color: #059033;
  padding-left: 20px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 200;
}

.slider-breadcrumbs .breadcrumbs .earn,
.footer-center .breadcrumbs .earn {
  background-color: #064D2F;
  padding-left: 20px;
  position: absolute;
  right: -13%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 100;
}

.slider-breadcrumbs .breadcrumbs .earn>.link,
.footer-center .breadcrumbs .earn>.link {
  margin-left: 25px;
}

.slider-breadcrumbs .breadcrumbs .wait {
  left: 36%;
}

.slider-breadcrumbs .breadcrumbs .join {
  left: 50%;
}

.slider-breadcrumbs .breadcrumbs .earn {
  right: 15%;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.footer-right .btn-contact {
  background-color: var(--primary-color);
  color: var(--white);
}

.footer-right .content-avatar {
  margin-left: 16px;
}

.mobile-footer {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.mobile-footer .img-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-footer .img-brand>img {
  margin: 5px auto;
}

.mobile-footer .btn-content {
  display: flex;
  align-items: center;
}

.mobile-footer .btn-content .btn-contact {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 16px 64px;
}

/* END FOOTER */

.mobile-only {
  display: none;
}

.hover,
.btn-hover {
  transition: .3s ease;
}

.hover:hover {
  color: var(--primary-color);
}

.btn-hover:hover {
  box-shadow: inset 285px 0 0 0 var(--white);
  color: var(--primary-color);
}

/* SLICK SLIDER */
.slick-dots li {
  background-color: white;
  border-radius: 50%;
}

.slick-dots li button:before {
  content: "";
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: 0.3s all ease;
}